body{
 background-color: darkseagreen;

}

.open-modal button{
height: 40;
background-color: mediumseagreen ;
color: #fff;
border: none;
width: 20%;
font-style: normal;
font-size: larger;
cursor: pointer;
border: 1px solid #fff;

}
.modal-content{
    margin: 15%;
    align-items: center;
    width: 65%;
    background: #fff;
    height: 25%;
    /* padding-left: 50; */
    border: 1px solid darkcyan;
    
}

 span{
    font-weight: bold;
    color: red;
    float: right;
    margin: 20;
    font-size: 30;
    cursor: pointer;
} 

.modal-text p{
 text-align: center;
 font-size: 20;
}
.delete-actions{
    align-items: center;
    display: flex;
    justify-content: center;
}
.cancel{
    width: 300;
    height: 35;
    background-color: cornflowerblue;
    border: none;
    color: #fff;
    font-size: medium;
    cursor: pointer;
    margin: 10;
}
.delete{
    width: 300;
    height: 35;
    font-size: medium;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    
}